{% extends "administrador/menuAdmin.html" %}
{% block body%}

<h2>
    Estadisticas
</h2>

<div>
    <!-- div del dia de hoy -->
    <div>
        <!-- titulo -->
        <h4 style="text-align: center;">
            El dia de hoy
        </h4>
        <hr>
        <div class="row col-md-12">
            <div class="row col-md-5 card bg-secondary text-white">


                <div class="col-md-12">
                    <h5 data-bs-toggle="collapse" data-bs-target="#collapseExample">Citas pendientes el dia de hoy <span
                            class="badge badge-pill bg-info">40</span> </h5>
                </div>

                <div class="collapse" id="collapseExample">

                    <div class="card card-body">
                        <table class="table table-dark table-hover">


                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Paciente</th>
                                    <th scope="col">Hora</th>
                                    <th scope="col">Medico </th>
                                    <th scope="col">accion </th>
                                </tr>
                            </thead>
                            <tbody id="table-citas">
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark Otto</td>
                                    <td>20-10-2021 10:30:00 </td>
                                    <td> Jesus Marco Feliciano</td>


                                    <td> <button class="btn btn-outline-danger">cancelar</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob Thornton</td>
                                    <td>20-10-2021 10:30:00 </td>
                                    <td> Jesus Marco Feliciano</td>


                                    <td> <button class="btn btn-outline-danger">cancelar</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry the Bird</td>
                                    <td>20-10-2021 10:30:00 </td>
                                    <td> Jesus Marco Feliciano</td>

                                    <td> <button class="btn btn-outline-danger">cancelar</button> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>



            <div class=" col-md-1">

            </div>
            <div class="row col-md-6 card bg-secondary text-white">

                <div class="col-md-12">
                    <h5 data-bs-toggle="collapse" data-bs-target="#collapse_list_cancelada">Citas canceladas el dia de
                        hoy <span class="badge badge-pill  bg-danger">4</span> </h5>
                </div>
                <div class="collapse" id="collapse_list_cancelada">

                    <div class="card card-body">
                        <table class="table table-dark table-hover">


                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Paciente</th>
                                    <th scope="col">Hora</th>
                                    <th scope="col">Medico </th>
                                    <th scope="col">accion </th>
                                </tr>
                            </thead>
                            <tbody id="table-citas">
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark Otto</td>
                                    <td>20-10-2021 10:30:00 </td>
                                    <td> Jesus Marco Feliciano</td>


                                    <td> <button class="btn btn-outline-danger" disabled>cancelar</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob Thornton</td>
                                    <td>20-10-2021 10:30:00 </td>
                                    <td> Jesus Marco Feliciano</td>


                                    <td> <button class="btn btn-outline-danger" disabled>cancelar</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry the Bird</td>
                                    <td>20-10-2021 10:30:00 </td>
                                    <td> Jesus Marco Feliciano</td>

                                    <td> <button class="btn btn-outline-danger" disabled>cancelar</button> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- fin de dia de hoy -->

<hr>

<!-- informacion de medico -->
<div>
    <h4 style="text-align: center;">
        Infomacion de medicos
    </h4>
    <hr>
    <!--fila 1 de informacion de medicos -->
    <div class="row col-md-12">
        <div class="row col-md-5 card bg-secondary text-white">
            <div class="col-md-12">

                <div class="col-md-5">
                    <button type="button" class="btn btn-primary" data-bs-toggle="collapse"
                        data-bs-target="#collapse_list_medicos">
                        <h5>Medicos <span class="badge badge-pill  bg-danger">4</span> </h5>
                    </button>

                </div>

                <div class="collapse" id="collapse_list_medicos">

                    <div class="row col-md-12 card  " style=" height:150px; overflow: scroll;">

                        <table class="table text-center">
                            <thead style=" flex: 0 0 auto;">
                                <tr>
                                    <th>Lista de medicos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>John Doe</td>
                                </tr>

                                <tr>
                                    <td>John Doe Jr</td>
                                </tr>
                                <tr>
                                    <td>Mary Moe</td>
                                </tr>
                                <tr>
                                    <td>July Dooley</td>
                                </tr>

                                <tr>
                                    <td>Jhonatan Joestar</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-1">

        </div>
        <div class="row col-md-6 card  " style=" height:150px; overflow: scroll;">

            <table class="table text-center">
                <thead style=" flex: 0 0 auto;">
                    <tr>
                        <th>Medico disponible</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John Doe</td>
                    </tr>
                    <tr>
                        <td>Mary Moe</td>
                    </tr>
                    <tr>
                        <td>July Dooley</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>

</div>

<!-- Fin informacion de medico -->







</div>

<div class="row col-md-12">

</div>







{% endblock %}