<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/css.css') }}" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">




</head>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<!-- sweetalert2 -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<!-- scripts propios -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<!-- scripts propios -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">


<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Menú</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('main.inicio') }}">INICIO</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            CITAS
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <h5 class="dropdown-header">cita</h5>
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('main.CrearCita') }}"> Nueva Cita</a></li>
                            <li>
                                <h5 class="dropdown-header">Gestonar citas</h5>
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('main.cita') }}"> Gestonar Citas</a></li>
                        </ul>
                    </li>




                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            USUARIOS
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <h5 class="dropdown-header">Pacientes</h5>
                            </li>
                            <li><a class="dropdown-item" href="/registroUsuario"> Registrar Paciente</a></li>
                            <li><a class="dropdown-item" href="#"> Gestionar Pacientes</a></li>

                            <li>
                                <h5 class="dropdown-header">Medicos</h5>
                            </li>
                            <li><a class="dropdown-item" href="#"> Registrar Médico</a></li>
                            <li><a class="dropdown-item" href="#">Gestionar Medicos</a></li>


                            <li>
                                <h5 class="dropdown-header">Administradores</h5>
                            </li>
                            <li><a class="dropdown-item" href="#"> Registrar Superadministradores</a></li>
                            <li><a class="dropdown-item" href="#">Gestionar Superadministradores</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="{{ url_for('main.dashboard') }}">ADMINISTRAR</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
 -->
                    <button class="btn btn-outline-success">
                        NOMBRE DEL USUARIO
                    </button>
                </div>
            </div>
        </div>
    </nav>


    <div class="container" style="min-height: 400px;">
        {% block body %}

        {% endblock %}
    </div>


    <footer class="mt-5 text-center">

        <h2>
            Centro Cáncer Virgilio Galvis
        </h2>
        <h3>
            Contáctanos
        </h3>
        <div>

            <ul>

                <li>
                    Tel: 3457655
                </li>
                <li>

                    E-mail: correodehospital@hospital.com
                </li>
                <li> San Juancito Norte de Santander</li>
            </ul>
        </div>

    </footer>

</body>

</html>