<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/estilo.css')}}"/>
</head>
<body>
    <form class="formulario">
        <h1>Iniciar Sesión</h1>
        <div class="contenedor">

            <div class="inputContenedor">
                <input type="text" placeholder="Correo Electrónico">
                <img class="icon" src="{{url_for('static',filename='img/user.png')}}" >
            </div>

            <div class="inputContenedor">
                <input type="password" placeholder="Contraseña">
                <img class="icon" src="{{url_for('static',filename='img/password.png')}}">
            </div>

            <input type="submit" value="Acceder" class="button">

            <p>
                ¿Aún no tienes cuenta?
                <a class="link" href="/registroUsuario">
                    Regístrate
                </a>
            </p>

        </div>
    </form>
</body>
</html>