{% extends "index.html" %}
{% block body%}

<!-- Carousel -->
<div id="demo" class="carousel carousel-dark slide  mt-5" data-bs-ride="carousel" style="height: 50%;">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src=" {{ url_for('static', filename='img/medico.jpg') }}" alt="Los Angeles" class="d-block"
                style="width:100%;">
            <div class="carousel-caption">
                <h3> Somos Centro de Cáncer Virgilio Galvis </h3>
                <p>Comprometidos con la salud de nuestros pacientes</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src=" {{ url_for('static', filename='img/medico.jpg') }}" alt="Chicago" class="d-block"
                style="width:100%">
            <div class="carousel-caption">
                <h3>Hacia el futuro</h3>
                <p> en <strong> Centro Cáncer Virgilio Galvis </strong> apuntamos a soluciones de tecnologia de punta
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src=" {{ url_for('static', filename='img/medico.jpg') }}" alt="New York" class="d-block"
                style="width:100%">
            <div class="carousel-caption">
                <h3> Atencion rapida</h3>
                <p> nos dedicamos 100% a nuestros pacientes </p>
            </div>
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>


<div class="row  col-md-12 mt-5 text-center ">

    <div class="  col-md-4 " >
        <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin: 5px; width: 360px;">
            <div class="card-header">Nosotros</div>
            <div class="card-body">Content</div>

        </div>
    </div>

    <div class="  col-md-4 " >
        <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin: 5px; width: 360px;"> 
            <div class="card-header">Vision</div>
            <div class="card-body">Content</div>

        </div>
    </div>
    <div class="  col-md-4 " >
        <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin: 5px; width: 360px;">
            <div class="card-header">Mision</div>
            <div class="card-body">Content</div>

        </div>
    </div>


</div>




{% endblock %}