{% extends "administrador/menuAdmin.html" %}
{% block body%}

<h1 style="margin-top: 5%;">
    Gestionar Citas
    <hr>
</h1>


<div class="row-md-12 d-flex p-3 justify-content-around" 
    style="background-color: rgba(226, 224, 224, 0.699); border-radius: 10px;">

    <div class="col-md-3">
        <button class=" btn btn-outline-success " type="submit">Buscar por Medico</button>
        <input class="my-2 form-control" type="search" id="text-cita" placeholder="Nombre Medico" aria-label="Search">
    </div>

    <div class="col-md-3">
        <button class="btn btn-outline-success" type="submit">Buscar por Paciente</button>
        <input class="form-control my-2" type="search" id="text-cita" placeholder="Nombre Paciente" aria-label="Search">
    </div>

    <div class="col-md-3">
        <button class="btn btn-outline-success" type="submit">Buscar por Fecha</button>
        <div class="my-2">
            <input type="date">
        </div>
    </div>

</div>

<div class="row-md-12 d-flex p-3 my-2 justify-content-center" 
    style="background-color: rgba(226, 224, 224, 0.699); border-radius: 10px;">
    <div class="row-md-12 d-flex bg-light my-1 justify-content-between"
        style="border-radius: 10px;">

        <!--  citas pendientes-->
        <div class="col-md-5">
            <h3 class="text-center"> citas pendientes</h3>
    
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Medico </th>
                        <th scope="col">accion </th>
                    </tr>
                </thead>
                <tbody id="table-citas">
                    <tr onclick="detalleCita(1)" style="cursor: pointer;">
                        <th>1</th>
                        <td>Mark Otto</td>
                        <td>20-10-2021 10:30:00 </td>
                        <td> Jesus Marco Feliciano</td>
    
                        <td>
                            <button class="btn btn-outline-danger "><i class="fas fa-calendar-times"></i></button>
                        </td>
                    </tr>
                    <tr onclick="detalleCita(2)" style="cursor: pointer;">
                        <th>2</th>
                        <td>Jacob Thornton</td>
                        <td>20-10-2021 10:30:00 </td>
                        <td> Jesus Marco Feliciano</td>
    
                        <td>
                            <button class="btn btn-outline-danger"><i class="fas fa-calendar-times"></i></button>
                        </td>
                    </tr>
                    <tr onclick="detalleCita(3)" style="cursor: pointer;">
                        <th>3</th>
                        <td>Larry the Bird</td>
                        <td>20-10-2021 10:30:00 </td>
                        <td> Jesus Marco Feliciano</td>
                        <td>
                            <button class="btn btn-outline-danger "><i class="fas fa-calendar-times"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    
    
        <!--  citas realizadas-->
        <div class="col-md-5">
    
            <h3 class="text-center"> citas realizadas</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Medico </th>
                    </tr>
                </thead>
                <tbody>
                    <tr onclick="detalleCita(1)" style="cursor: pointer;">
                        <th>1</th>
                        <td>Mark Otto</td>
                        <td>20-10-2021 10:30:00 </td>
                        <td> Jesus Marco Feliciano</td>
                    </tr>
                    <tr onclick="detalleCita(2)" style="cursor: pointer;">
                        <th>2</th>
                        <td>Jacob Thornton</td>
                        <td>20-10-2021 10:30:00 </td>
                        <td> Jesus Marco Feliciano</td>
                    </tr>
                    <tr onclick="detalleCita(3)" style="cursor: pointer;">
                        <th>3</th>
                        <td>Larry the Bird</td>
                        <td>20-10-2021 10:30:00 </td>
                        <td> Jesus Marco Feliciano</td>
                    </tr>
                </tbody>
            </table>
    
        </div>
    
        <script src="{{ url_for('static', filename='js/citas/citasController.js') }}"></script>
    
    </div>
</div>

{% endblock %}