{% extends "index.html" %}
{% block body%}

<h1 style="margin-top: 50px;">
    Crear Cita
</h1>

<div class="row col-md-12  mt-2">
    <div class="mb-3  col-md-2">
        <label class="form-label" style="margin-top:20px; margin-bottom: 20px;">
        Seleccionar Día
        </label>
        <input class="form-control" type="date" id="appt" name="appt">
    </div>
    <div class="col mt-4 ">
        
    </div>
</div>
<div class="row col-md-12">
    <label class="form-label" style="margin-top:20px; margin-bottom: 20px;">Médicos Disponibles</label>
    <table class="table table-hover" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <thead>
            <tr>
                <th scope="col" style="text-align: center;">Medico</th>
                <th scope="col" style="text-align: center;"> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: center;">Mark</td>
                <td style="text-align: center;"> <button type="button" class="btn btn-outline-success">Seleccionar</button> </td>
            </tr>
            <tr>
                <td style="text-align: center;">Jacob</td>
                <td style="text-align: center;"> <button type="button" class="btn btn-outline-success">Seleccionar</button> </td>
            </tr>
            <tr>
                <td style="text-align: center;">Larry the Bird</td>
                <td style="text-align: center;"> <button type="button" class="btn btn-outline-success">Seleccionar</button> </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-outline-primary" href="" style="margin-bottom:20px; margin-top:40px;">Crear</button>
</div>

{% endblock %}