.text-right
{
    text-align: right;
}

.carousel-item 
{
    height: 300px !important;
}

footer
{
   background-color: #fcfcfc;
}

.mt-5-text-center
{
    border-radius: 15px;
    width: 100%;
    padding-top: 120px;
    text-align: center;
}

.text-blue
{
    color: #007bff;
}

.nav-item
{
    margin-right: 10px;
}
