body
{
    background-image: url("../img/fondo.jpg");
  /*   background-image: url("../static/img/fondo.jpg");
  */  background-size: cover;
    backdrop-filter:blur(10px);
}


.text-right
{
    text-align: right;
}

.carousel-item 
{
    height: 300px !important;
}

footer
{
   background-color: none;
}

.mt-5-text-center
{
    border-radius: 15px;
    width: 100%;
    padding-top: 120px;
    text-align: center;
}

.text-blue
{
    color: #007bff;
}

.nav-item
{
    margin-right: 10px;
}
